/* Import Tailwind CSS styles */
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

* {
  border: 0;
  padding: 0;
}

.icon-large {
  width: 24px; /* Adjust the width as needed */
  height: 24px; /* Adjust the height as needed */
}
